$align-center: center;
$info-color: rgb(170, 169, 169);
$font-size: 1.2em;

body {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    grid-template-areas:
        "header"
        "main";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

img {
    display: block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: $align-center;
    margin: auto 20px;
}

#title {
    color: lighten(black, 50%);
    font-size: 14px;
    letter-spacing: 2px;
}

// card
.card {
    width: 100%;
    height: 120px;
    border: 1px solid lightgray;
    display: grid;
    grid-template-areas:
        "image name"
        "image email"
        "image location";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px 0;
    transition: box-shadow 1s;
    box-shadow: none;
}

.card:hover {
    box-shadow: 1px 1px 10px;
}

.avatar {
    grid-area: image;
    align-self: $align-center;
}

.text-container {
    grid-area: text;
    align-self: $align-center;
}

// text container
.info-detail {
    grid-area: text;
    align-self: $align-center;
    margin-top: 0.01em;
    margin-bottom: 0.01em;
}

h3.info-detail {
    grid-area: name;
    align-self: end;
    padding-top: 25px;
    padding-bottom: 5px;
}

p:first-of-type.info-detail  {
    grid-area: email;
    align-self: $align-center;
    color: $info-color;
}

p:last-of-type.info-detail  {
    grid-area: location;
    color: $info-color;
    padding-bottom: 25px;
}

// Modal

#modal-btn{
  border: none;
  background: white;
}

#modal-btn:focus{
  outline-style: none;
}

.my-modal {
  position: fixed;
  background-color: rgba(73, 71, 71, 0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  text-align: center;
}

.modalContent {
  background-color:whitesmoke;
  margin: 150px auto;
  width: 25%;
  padding: 2em;
  color: gray;
  text-align: center;
  border-radius: 10px;
  font-size: $font-size;
}

.modal-info h3 {
  color: lighten(black, 25%);
  font-size: $font-size;
  margin-bottom: -5px;
}

.modal-info p:nth-of-type(2){
    margin-top: -5px;
}

.modal-info {
  font-size: 0.8em;
  color: rgb(170, 169, 169);
}

hr {
   margin-right: auto;
   margin-left: auto;
   opacity: 0.6;
   width: 80%;
   height: 1px;
   background-color:#666;
   margin-top: 20px;
   margin-bottom: 20px;
}

#closeBtn {
  position: absolute;
  top: 160px;
  right: 37%;
  font-size: 1.6em;

}

#closeBtn:hover,
#closeBtn:focus {
  color: black;
  cursor: pointer;
}

.modalContent img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}
